{% include "nav.html" %}
<!-- DO NOT CHANGE THIS (aside from styling) -->
<form action="/accounts/?target=edit" method="post" enctype="multipart/form-data">
  picture <input type="file" name="file" required /><br>
  fullname <input type="text" name="fullname" required /><br>
  username <input type="text" name="username" required /><br>
  email <input type="text" name="email" required /><br>
  password <input type="password" name="password" required /><br>
  <input type="submit" name="signup" value="sign up" />
  <input type="hidden" name="operation" value="create" />
</form>
<br>
