<!DOCTYPE html>
<head>
    <title>Password</title>
  </head>
{% include "nav.html" %}
<!-- DO NOT CHANGE THIS -->
<form action="/accounts/?target=edit" method="post"
    enctype="multipart/form-data">
    old password <input type="password" name="password" required /><br>
    new password <input type="password" name="new_password1" required /><br>
    new password (confirm) <input type="password" name="new_password2" required /><br>
    <input type="submit" name="update_password" value="submit" />
    <input type="hidden" name="operation" value="update_password" />
</form>